<table cellpadding="0" cellspacing="0" border="0" align="center"
    style="border-collapse:collapse;padding:0;margin:0 auto;width:600px">
    <tbody>
        <tr>
            <td
                style="font-family:Verdana,Arial;font-weight:normal;border-collapse:collapse;vertical-align:top;padding:0;margin:0">
                <table cellpadding="0" cellspacing="0" border="0"
                    style="border-collapse:collapse;padding:0;margin:0;width:100%">
                    <tbody>
                        <tr>
                            <td
                                style="font-family:Verdana,Arial;font-weight:normal;border-collapse:collapse;vertical-align:top;padding:15px 0px 10px 5px;margin:0">
                                <a href="https://u13914034.ct.sendgrid.net/ls/click?upn=uFSGAehWFzRTSm8llQgjAkoSSMVv6EKZHESe27ByFIgDcfalVm0lyMndmCL9rzyIkhCK_L9aF4Ad-2B4PHNSaO3zEt6D7rLjlrKBy2ObpR6VSiCe5BhtYDH5h2s-2FAKQiUFjg23clIp1mVEvkc8FltBNI4MewReF3r2F83NyA8uJPhnK2JZP-2FoC0XA67YzjrR9YyiLNK3fzoyzrIm1n76nmuERPoocGFUEwdwYYeAbJFfkPoIOaEPd0C728q-2FbOgSav-2BGBAg9optma6NUo6bM-2BIK45p6erlP4njRH0YhW5p53LvMxIg-3D"
                                    style="color:#3696c2;float:left;display:block" target="_blank"
                                    data-saferedirecturl="https://www.google.com/url?q=https://u13914034.ct.sendgrid.net/ls/click?upn%3DuFSGAehWFzRTSm8llQgjAkoSSMVv6EKZHESe27ByFIgDcfalVm0lyMndmCL9rzyIkhCK_L9aF4Ad-2B4PHNSaO3zEt6D7rLjlrKBy2ObpR6VSiCe5BhtYDH5h2s-2FAKQiUFjg23clIp1mVEvkc8FltBNI4MewReF3r2F83NyA8uJPhnK2JZP-2FoC0XA67YzjrR9YyiLNK3fzoyzrIm1n76nmuERPoocGFUEwdwYYeAbJFfkPoIOaEPd0C728q-2FbOgSav-2BGBAg9optma6NUo6bM-2BIK45p6erlP4njRH0YhW5p53LvMxIg-3D&amp;source=gmail&amp;ust=1612534931791000&amp;usg=AFQjCNHEhcA_OD5qqSCNPmIcKoaka4Bhzg">
                                    <img width="180" height="142"
                                        src="https://ci4.googleusercontent.com/proxy/2koaW7hDt2andBlDJcy_PKbEx16ClVyK3_zbtnl4GLQQSIlp_lWIk3QrgMy5AJ3yS51iupIAPprvNwl9AzDMlk_H8FxNXTA6pszSRJlkJZP8WA=s0-d-e1-ft#http://invictastores.com/pub/media/email/logo/stores/1/logo.png"
                                        alt="Invicta Stores" border="0" style="outline:none;text-decoration:none"
                                        class="CToWUd"></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td valign="top"
                style="font-family:Verdana,Arial;font-weight:normal;border-collapse:collapse;vertical-align:top;padding:5px;margin:0;border:1px solid #ebebeb;background:#fff">
                <table cellpadding="0" cellspacing="0" border="0"
                    style="border-collapse:collapse;padding:0;margin:0;width:100%">
                    <tbody>
                        <tr>
                            <td
                                style="font-family:Verdana,Arial;font-weight:normal;border-collapse:collapse;vertical-align:top;padding:0;margin:0">
                                <table cellpadding="0" cellspacing="0" border="0"
                                    style="border-collapse:collapse;padding:0;margin:0">
                                    <tbody>
                                        <tr>
                                            <td
                                                style="font-family:Verdana,Arial;font-weight:normal;border-collapse:collapse;vertical-align:top;padding:0 1%;margin:0;background:#e1f0f8;border-right:1px dashed #c3ced4;text-align:center;width:58%">
                                                <h1
                                                    style="font-family:Verdana,Arial;font-weight:700;font-size:16px;margin:1em 0;line-height:20px;text-transform:uppercase;margin-top:25px">
                                                    Thank you for your order from InvictaStores.com.</h1>
                                                <p
                                                    style="font-family:Verdana,Arial;font-weight:normal;line-height:20px;margin:1em 0">
                                                    You can check the status of your order by <a
                                                        href="https://u13914034.ct.sendgrid.net/ls/click?upn=uFSGAehWFzRTSm8llQgjAkoSSMVv6EKZHESe27ByFIhmMOeuDPGXu1uwuOv-2Fd5Ey5NsoUg88CYxNbsAEK3yorA-3D-3DzNmb_L9aF4Ad-2B4PHNSaO3zEt6D7rLjlrKBy2ObpR6VSiCe5BhtYDH5h2s-2FAKQiUFjg23cXf2GWPQxjITpK9IKseGt51R8or4DCqaCgZ2q7Jzl4convogkwt-2BMKDUB5yf6sc8IWIrWOsgKN53y-2FHX0e7ZATO9rRT-2BDbC-2B-2B-2FjI33GP-2BLYclk0esHMlumIMBLnimev4PdlJKoS17C01RJ9hdoUZSoZGaWCaRSyKkLrc7LiFvVZo-3D"
                                                        style="color:#3696c2" target="_blank"
                                                        data-saferedirecturl="https://www.google.com/url?q=https://u13914034.ct.sendgrid.net/ls/click?upn%3DuFSGAehWFzRTSm8llQgjAkoSSMVv6EKZHESe27ByFIhmMOeuDPGXu1uwuOv-2Fd5Ey5NsoUg88CYxNbsAEK3yorA-3D-3DzNmb_L9aF4Ad-2B4PHNSaO3zEt6D7rLjlrKBy2ObpR6VSiCe5BhtYDH5h2s-2FAKQiUFjg23cXf2GWPQxjITpK9IKseGt51R8or4DCqaCgZ2q7Jzl4convogkwt-2BMKDUB5yf6sc8IWIrWOsgKN53y-2FHX0e7ZATO9rRT-2BDbC-2B-2B-2FjI33GP-2BLYclk0esHMlumIMBLnimev4PdlJKoS17C01RJ9hdoUZSoZGaWCaRSyKkLrc7LiFvVZo-3D&amp;source=gmail&amp;ust=1612534931791000&amp;usg=AFQjCNGlRn4O-6JWLZxtLw9Q7GQf3YYYrQ">logging
                                                        into your account</a>.</p>
                                            </td>
                                            <td
                                                style="font-family:Verdana,Arial;font-weight:normal;border-collapse:collapse;vertical-align:top;padding:2%;margin:0;background:#e1f0f8;width:40%">
                                                <h4
                                                    style="font-family:Verdana,Arial;font-weight:bold;margin-bottom:5px;font-size:12px;margin-top:13px">
                                                    Order Questions?</h4>
                                                <p
                                                    style="font-family:Verdana,Arial;font-weight:normal;font-size:11px;line-height:17px;margin:1em 0">

                                                    <b>Call Us:</b>
                                                    <a href="tel:844-INVICTA"
                                                        style="color:#3696c2;text-decoration:underline"
                                                        target="_blank">844-INVICTA</a><br><span>Mon-Fri 9:00am - 5:00pm
                                                        (ET)</span><br><b>Email:</b> <a
                                                        href="mailto:help@invictastores.com"
                                                        style="color:#3696c2;text-decoration:underline"
                                                        target="_blank">help@invictastores.com</a>

                                                </p>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td
                                style="font-family:Verdana,Arial;font-weight:normal;border-collapse:collapse;vertical-align:top;padding:5px 15px;margin:0;text-align:center">