<p style="font-family:Verdana,Arial;font-weight:normal;font-size:11px;margin:1em 0 15px">If you have any questions or would like to reach a customer service representative you can email us at <a href="mailto:help@thecloseout.com" style="color:#3696c2" target="_blank">help@thecloseout.com</a> or call 1-888-725-6736 (Monday - Friday 8:30 am-5 pm EST).</p>
  </td></tr>
<tr>
<td style="font-family:Verdana,Arial;font-weight:normal;border-collapse:collapse;vertical-align:top;padding:0;margin:0">
            
            <table cellspacing="0" cellpadding="0" border="0" width="650" style="border:1px solid #eaeaea;border-collapse:collapse;padding:0;margin:0;width:100%">
<thead><tr>
<th align="left" bgcolor="#EAEAEA" style="font-size:13px;padding:3px 9px;font-family:Verdana,Arial;font-weight:normal">Item</th>
            <th align="left" bgcolor="#EAEAEA" style="font-size:13px;padding:3px 9px;font-family:Verdana,Arial;font-weight:normal">Sku</th>
            <th align="center" bgcolor="#EAEAEA" style="font-size:13px;padding:3px 9px;font-family:Verdana,Arial;font-weight:normal">Qty</th>
            <th align="right" bgcolor="#EAEAEA" style="font-size:13px;padding:3px 9px;font-family:Verdana,Arial;font-weight:normal">Subtotal</th>
        </tr></thead>
