<table cellpadding="0" cellspacing="0" border="0" align="center"
    style="border-collapse:collapse;padding:0;margin:0 auto;width:600px">
    <tbody>
        <tr>
            <td
                style="font-family:Verdana,Arial;font-weight:normal;border-collapse:collapse;vertical-align:top;padding:0;margin:0">
                <table cellpadding="0" cellspacing="0" border="0"
                    style="border-collapse:collapse;padding:0;margin:0;width:100%">
                    <tbody>
                        <tr>
                            <td
                                style="font-family:Verdana,Arial;font-weight:normal;border-collapse:collapse;vertical-align:top;padding:15px 0px 10px 5px;margin:0">
                                    <!-- <img width="180" height="142"
                                        src="https://thecloseout.com/media/weltpixel/Footer_Logo.jpg"
                                        alt="The CloseOut" border="0" style="outline:none;text-decoration:none"
                                        class="CToWUd"></a> -->
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td valign="top"
                style="font-family:Verdana,Arial;font-weight:normal;border-collapse:collapse;vertical-align:top;padding:5px;margin:0;border:1px solid #ebebeb;background:#fff">
                <table cellpadding="0" cellspacing="0" border="0"
                    style="border-collapse:collapse;padding:0;margin:0;width:100%">
                    <tbody>
                        <tr>
                            <td
                                style="font-family:Verdana,Arial;font-weight:normal;border-collapse:collapse;vertical-align:top;padding:0;margin:0">
                                <table cellpadding="0" cellspacing="0" border="0"
                                    style="border-collapse:collapse;padding:0;margin:0">
                                    <tbody>
                                        <tr>
                                            <td
                                                style="font-family:Verdana,Arial;font-weight:normal;border-collapse:collapse;vertical-align:top;padding:0 1%;margin:0;background:#e1f0f8;border-right:1px dashed #c3ced4;text-align:center;width:58%">
                                                <h1
                                                    style="font-family:Verdana,Arial;font-weight:700;font-size:16px;margin:1em 0;line-height:20px;text-transform:uppercase;margin-top:25px">
                                                    Thank you for your order from thecloseout.com</h1>
                                                <p
                                                    style="font-family:Verdana,Arial;font-weight:normal;line-height:20px;margin:1em 0">
                                                    You can check the status of your order by <a
                                                        href=https://thecloseout.com/customer/account/login/"
                                                        style="color:#3696c2" target="_blank"
                                                        >logging into your account</a>.</p>
                                            </td>
                                            <td
                                                style="font-family:Verdana,Arial;font-weight:normal;border-collapse:collapse;vertical-align:top;padding:2%;margin:0;background:#e1f0f8;width:40%">
                                                <h4
                                                    style="font-family:Verdana,Arial;font-weight:bold;margin-bottom:5px;font-size:12px;margin-top:13px">
                                                    Order Questions?</h4>
                                                <p
                                                    style="font-family:Verdana,Arial;font-weight:normal;font-size:11px;line-height:17px;margin:1em 0">

                                                    <b>Call Us:</b>
                                                    <a href="tel:888-725-6736"
                                                        style="color:#3696c2;text-decoration:underline"
                                                        target="_blank">888-725-6736</a><br><span>Mon-Fri 9:00am - 5:00pm
                                                        (ET)</span><br><b>Email:</b> <a
                                                        href="mailto:help@thecloseout.com"
                                                        style="color:#3696c2;text-decoration:underline"
                                                        target="_blank">help@thecloseout.com</a>

                                                </p>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td
                                style="font-family:Verdana,Arial;font-weight:normal;border-collapse:collapse;vertical-align:top;padding:5px 15px;margin:0;text-align:center">